<div class="home-banner">
  <%= render "shared/search_form" %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.home-designing.com/wp-content/uploads/2020/07/round-skylight.jpg);">
    <div class="container">
      <h1><%= link_to 'Your Bunkers', bunkers_path, class: "a-primary" %></h1>
        <div class="under-container">
        <p><span id="banner-typed-text"></span></p>
        </div>
    </div>
  </div>
</div>
