.book-now {
  margin: auto;
  font-size: 30px;
  background-color: #F5385E;
  transition: 0.3s;
  &:hover {
    background-color: #F5385E;
    opacity: .7;
  }
}

.btn-flat {
  color: white;
  padding: 2px 9px;
  border-radius: 6px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-flat-refuse {
  color: white;
  padding: 2px 9px;
  border-radius: 6px;
  background: #FF3333;
  transition: background 0.3s ease;
}

.btn-flat-refuse:hover {
  background: #f46969;
  color: white;
}
